:root {
  --main-font: 'Roboto', sans-serif;

  --color1: #fb4b4d;
  --color2: #cffd3c;
  --color3: #8b83f6;
  --color4: #222222;
  --color5: #fffcf7;
}

* {
  font-family: var(--main-font);
  font-weight: 400;
}

body {
  min-width: 320px;
}

.link-violet:hover {
  color: var(--color3);
}

.dark-color {
  color: var(--color4);
}

.main-btn {
  background-color: var(--color1);
  color: var(--color5);
}

.column {
  min-width: 300px;
}

.ticker__item {
  white-space: nowrap;
  flex-shrink: 0;
  padding: 0 20px;
  animation-name: ticker;
  animation-duration: 5s;
  animation-timing-function: linear;
  /* бесконечное движение */
  animation-iteration-count: infinite;
  /* чтобы анимация сначала выполнялась вперед, а затем назад */
  animation-direction: alternate;
}

.main-header {
  max-width: 430px;
}

.bcgd-img {
  background-image: url(../images/backgroundImage.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer {
  background-color: var(--color2);
}

@keyframes ticker {
  0% {
    transform: translateZ(0);
  }
  to {
    transform: translate3d(-200px, 0, 0);
  }
}

@media (max-width: 1199px) {
  .change-order-to-start {
    order: -1;
  }

  .small-box {
    max-width: 500px;
  }

  .img-auxiliary {
    margin-top: 10px;
    width: 150px;
    height: auto;
  }
}

@media (min-width: 768px) {
  .mt1 {
    margin-top: -1px;
  }
}

@media (max-width: 767px) {
  .ml1 {
    margin-left: -1px;
  }

  .img-auxiliary {
    width: 100px;
  }
}