:root {
  --main-font: "Roboto", sans-serif;
  --color1: #fb4b4d;
  --color2: #cffd3c;
  --color3: #8b83f6;
  --color4: #222222;
  --color5: #fffcf7;
  --color6: #000000;
  --color7: #ffffff;
}

* {
  font-family: var(--main-font);
  letter-spacing: 0.5px;
}

body {
  min-width: 320px;
}

/* шрифты размеры */

.large-title {
  font-size: 65px;
  line-height: 73px;
  font-weight: 400;
  max-width: 785px;
}

.medium-title {
  font-size: 58px;
  line-height: 65px;
  font-weight: 400;
  max-width: 536px;
  margin: 5vw 0 0;
}

.small-title {
  font-size: 32px;
  line-height: 38px;
  font-weight: 400;
  margin: 14px 0;
}

.subtitle {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}

.large-text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 0 0 22px;
  max-width: 386px;
}

.large-text:first-child {
  max-width: 392px;
}

.large-text:last-child {
  margin: 0;
}

.medium-text {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}

.small-text {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}
/* конец раздела со шрифтами */

/* цвета отличные от стандарных для элементов и эфеектов */
/* цвет ссылок при наведении */
.to-violet-color:hover {
  color: var(--color3);
}

.dark-color {
  color: var(--color4);
}
/* стили кнопок */
.main-btn {
  background-color: var(--color1);
  color: var(--color7);
  width: 157px;
  height: 52px;
}

/* шапка сайта */
.header__navigation {
  padding: 21px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__link {
  width: 100px;
}
/* главная секция */

.main__column {
  min-width: 300px;
}

/* секция с продукцией */
.products__box {
  padding: 48px 24px;
}

.products__small-image-for-title {
  width: 225px;
  height: auto;
}

.products__small-image-for-title_turned {
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

/* маленькие иконки в секции продукци */
.logo-in-section {
  width: 58px;
  height: auto;
  position: absolute;
  top: 16px;
}

.logo-in-section_order_one {
  left: 35px;
}

.logo-in-section_order_two {
  left: 422px;
}

.logo-in-section_order_three {
  right: 422px;
}

.logo-in-section_order_four {
  right: 35px;
}

.logo-in-section_order_five,
.logo-in-section_order_six {
  display: none;
}

.card-item {
  width: 400px;
  height: 604px;
  background-image: url(../images/backgroundForElements.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
/* секция о нас */
.story__column-with-image {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 624px;
  height: 697px;
  border-right: 1px solid var(--color6);
}
.story__column-with-text {
  width: 694px;
  height: 697px;
  padding: 0;
}

.story__column-with-text-bcgd-img {
  background-image: url(../images/backgroundImage.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.illustration__image {
  margin-top: -173px;
}

/* подвал сайта */
.footer {
  background-color: var(--color2);
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 90px;
}
/* бесконечно движущийся блок */
.ticker__item {
  white-space: nowrap;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding: 0 14.5px;
  font-size: 17px;
  line-height: 26px;
  font-weight: 400;
  color: var(--color6);
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  /* бесконечное движение */
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  /* чтобы анимация сначала выполнялась вперед, а затем назад */
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

/* анимация для бесконечно движущегося блока */
@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  to {
    -webkit-transform: translate3d(-200px, 0, 0);
    transform: translate3d(-200px, 0, 0);
  }
}
@keyframes ticker {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  to {
    -webkit-transform: translate3d(-200px, 0, 0);
    transform: translate3d(-200px, 0, 0);
  }
}

@media (max-width: 1399px) {
  .large-title {
    font-size: 50px;
    line-height: 56px;
    max-width: 560px;
  }

  .medium-title {
    font-size: 48px;
    line-height: 44px;
    max-width: 440px;
  }

  .large-text {
    font-size: 14px;
    line-height: 21px;
    margin: 0 0 19px;
    max-width: 342px;
  }

  .large-text:first-child {
    max-width: 350px;
  }

  .small-title {
    font-size: 30px;
    line-height: 36px;
    margin: 12px 0;
  }

  .products__small-image-for-title {
    width: 200px;
  }

  .logo-in-section_order_one {
    left: 28px;
  }

  .logo-in-section_order_two {
    left: 357px;
  }

  .logo-in-section_order_three {
    right: 357px;
  }

  .logo-in-section_order_four {
    right: 28px;
  }

  .card-item {
    width: 350px;
    height: 528.5px;
  }

  .story__column-with-image {
    width: 548px;
    height: 592.55px;
  }

  .story__column-with-text {
    width: 590px;
    height: 592.55px;
  }

  .illustration__image {
    margin-top: -150px;
  }
}

@media (max-width: 1199px) {
  .large-title {
    font-size: 45px;
    line-height: 50.4px;
    max-width: 530px;
  }

  .medium-title {
    font-size: 42px;
    line-height: 47px;
    max-width: 400px;
  }

  .large-text {
    font-size: 12px;
    line-height: 18px;
    margin: 0 0 16px;
    max-width: 295px;
  }

  .large-text:first-child {
    max-width: 300px;
  }

  .small-title {
    font-size: 24px;
    line-height: 28.8px;
    margin: 10px 0;
  }

  .subtitle {
    font-size: 16px;
    line-height: 25px;
  }

  .main-btn {
    width: 140px;
    height: 47px;
  }

  .header__navigation {
    max-width: 538px;
  }

  .nav-item__change-order-to-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .products__box {
    padding: 40px 20px;
  }

  .products__small-image-for-title {
    width: 150px;
  }

  .logo-in-section {
    width: 40px;
  }

  .logo-in-section_order_one {
    left: 13px;
  }

  .logo-in-section_order_two {
    left: 301px;
  }

  .logo-in-section_order_three {
    right: 301px;
  }

  .logo-in-section_order_four {
    right: 13px;
  }

  .card-item {
    width: 300px;
    height: 453px;
  }

  .story__column-with-image {
    width: 458px;
    height: 502px;
  }
  .story__column-with-text {
    width: 500px;
    height: 502px;
  }

  .illustration__image {
    margin-top: -125px;
  }
}

@media (max-width: 991px) {
  .large-title {
    font-size: 35px;
    line-height: 39px;
    max-width: 380px;
  }

  .medium-title {
    font-size: 35px;
    line-height: 39px;
    max-width: 330px;
    margin: 20px 0 0;
  }

  .large-text {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 22px;
    max-width: 386px;
  }

  .large-text:first-child {
    max-width: 392px;
  }

  .small-title {
    font-size: 18px;
    line-height: 21.6px;
    margin: 7px 0;
  }

  .subtitle {
    font-size: 14px;
    line-height: 19.5px;
  }

  .products__box {
    padding: 30px 20px;
  }

  .products__small-image-for-title {
    width: 140px;
  }

  .logo-in-section {
    width: 36px;
  }

  .logo-in-section_order_two {
    left: 223px;
  }

  .logo-in-section_order_three {
    right: 223px;
  }

  .card-item {
    width: 220px;
    height: 332px;
  }

  .story__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    row-gap: 16px;
    overflow: hidden;
  }

  .story__column-with-image {
    width: calc(100% - 32px);
    height: 582px;
    border: none;
  }

  .story__column-with-text {
    width: calc(100% - 32px);
    height: 689px;
  }

  .illustration__image {
    margin-top: -93px;
  }
}

@media (min-width: 768px) {
  /* границы при изменении */
  .mt1 {
    margin-top: -1px;
  }
}

@media (max-width: 767px) {
  .large-title {
    font-size: 27px;
    line-height: 30px;
    max-width: 298px;
  }

  .medium-title {
    font-size: 27px;
    line-height: 30px;
    max-width: 260px;
  }

  .large-text {
    font-size: 12px;
    line-height: 18px;
    margin: 0 0 16px;
    max-width: 295px;
  }

  .large-text:first-child {
    max-width: 300px;
  }
  /* границы при изменении */
  .ml1 {
    margin-left: -1px;
  }

  .header__navigation {
    padding: 21px 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 300px;
    row-gap: 5px;
    -webkit-column-gap: 5px;
    -moz-column-gap: 5px;
    column-gap: 5px;
  }

  .nav-item__delete-change-order {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
  }

  .products__box {
    padding: 20px 10px;
  }

  .products__small-image-for-title {
    width: 100px;
  }

  .logo-in-section_order_one {
    left: 41px;
  }

  .logo-in-section_order_two {
    left: 251px;
  }

  .logo-in-section_order_three {
    top: 364px;
    right: 0;
    left: 159px;
  }

  .logo-in-section_order_four {
    right: 41px;
  }

  .logo-in-section_order_five {
    display: block;
    top: 364px;
    right: 159px;
  }

  .story__column-with-image {
    height: 442px;
  }

  .story__column-with-text {
    height: 508px;
  }

  .illustration__image {
    margin-top: -70px;
  }

  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 10px;
    padding: 10px 30px;
  }
}

@media (max-width: 580px) {
  .medium-title_place_story {
    margin-bottom: 20px;
  }

  .large-text {
    font-size: 8px;
    line-height: 10px;
    margin: 0 0 7px;
    max-width: 205px;
  }

  .large-text:first-child {
    max-width: 210px;
  }

  .logo-in-section_order_one {
    top: 501px;
    left: 5vw;
  }

  .logo-in-section_order_two {
    top: 16px;
    left: 5vw;
  }

  .logo-in-section_order_three {
    left: auto;
    top: 16px;
    right: 5vw;
  }

  .logo-in-section_order_four {
    top: 501px;
    right: 5vw;
  }

  .logo-in-section_order_five {
    top: 986px;
    left: 5vw;
  }

  .logo-in-section_order_six {
    display: block;
    top: 986px;
    right: 5vw;
  }

  .card-item {
    width: 300px;
    height: 453px;
  }

  .story__column-with-image {
    height: auto;
  }

  .story__column-with-text {
    width: 318px;
    height: 320px;
  }

  .illustration__image {
    margin-top: -12vw;
  }
}

@media (max-width: 519px) {
  .large-title {
    font-size: 20px;
    line-height: 22.5px;
    max-width: 200px;
  }

  .products__box {
    padding: 10px;
  }

  .products__small-image-for-title {
    width: 70px;
  }
}

@media (max-width: 375px) {
  .large-title {
    max-width: 158px;
  }
}
