:root {
  --main-font: "Roboto", sans-serif;

  --color1: #fb4b4d;
  --color2: #cffd3c;
  --color3: #8b83f6;
  --color4: #222222;
  --color5: #fffcf7;
  --color6: #000000;
}

* {
  font-family: var(--main-font);
  letter-spacing: 0.5px;
}

body {
  min-width: 320px;
}

/* шрифты размеры */

.large-title {
  font-size: 65px;
  line-height: 73px;
  font-weight: 400;
  max-width: 785px;
}

.medium-title {
  font-size: 58px;
  line-height: 65px;
  font-weight: 400;
  max-width: 536px;
  margin: 5vw 0 0;
}

.small-title {
  font-size: 32px;
  line-height: 38px;
  font-weight: 400;
  margin: 14px 0;
}

.subtitle {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}

.large-text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 0 0 22px;
  max-width: 386px;
}

.large-text:first-child {
  max-width: 392px;
}

.large-text:last-child {
  margin: 0;
}

.medium-text {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}

.small-text {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

/* конец раздела со шрифтами */

.link-violet:hover {
  color: var(--color3);
}

.dark-color {
  color: var(--color4);
}

.main-btn {
  background-color: var(--color1);
}

.small-box {
  padding: 48px 24px;
}

.column {
  min-width: 300px;
}

.img-auxiliary {
  width: 225px;
  height: auto;
}

.column-with-image {
  box-sizing: border-box;
  width: 624px;
  height: 697px;
  border-right: 1px solid var(--color6);
}
.column-with-text {
  width: 694px;
  height: 697px;
  padding: 0;
}

.ticker__item {
  white-space: nowrap;
  flex-shrink: 0;
  padding: 0 14.5px;
  font-size: 17px;
  line-height: 26px;
  font-weight: 400;
  color: var(--color6);
  animation-name: ticker;
  animation-duration: 5s;
  animation-timing-function: linear;
  /* бесконечное движение */
  animation-iteration-count: infinite;
  /* чтобы анимация сначала выполнялась вперед, а затем назад */
  animation-direction: alternate;
}

.main-header {
  max-width: 430px;
}

.card__item {
  width: 400px;
  height: 604px;
  background-image: url(../images/backgroundForElements.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.bcgd-img {
  background-image: url(../images/backgroundImage.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer {
  background-color: var(--color2);
}

.footer__img {
  margin-top: -173px;
}

@keyframes ticker {
  0% {
    transform: translateZ(0);
  }
  to {
    transform: translate3d(-200px, 0, 0);
  }
}

@media (max-width: 1399px) {
  .large-title {
    font-size: 50px;
    line-height: 56px;
    max-width: 560px;
  }

  .medium-title {
    font-size: 48px;
    line-height: 44px;
    max-width: 440px;
  }

  .large-text {
    font-size: 14px;
    line-height: 21px;
    margin: 0 0 19px;
    max-width: 342px;
  }

  .large-text:first-child {
    max-width: 350px;
  }

  .img-auxiliary {
    width: 200px;
  }

  .card__item {
    width: 350px;
    height: 528.5px;
  }

  .small-title {
    font-size: 30px;
    line-height: 36px;
    margin: 12px 0;
  }

  .column-with-image {
    width: 548px;
    height: 592.55px;
  }
  .column-with-text {
    width: 590px;
    height: 592.55px;
  }

  .footer__img {
    margin-top: -150px;
  }
}

@media (max-width: 1199px) {
  .large-title {
    font-size: 45px;
    line-height: 50.4px;
    max-width: 530px;
  }

  .medium-title {
    font-size: 42px;
    line-height: 47px;
    max-width: 400px;
  }

  .large-text {
    font-size: 12px;
    line-height: 18px;
    margin: 0 0 16px;
    max-width: 295px;
  }

  .large-text:first-child {
    max-width: 300px;
  }

  .img-auxiliary {
    width: 150px;
  }

  .small-box {
    padding: 40px 20px;
  }

  .column-with-image {
    width: 458px;
    height: 502px;
  }
  .column-with-text {
    width: 500px;
    height: 502px;
  }

  .card__item {
    width: 300px;
    height: 453px;
  }

  .small-title {
    font-size: 24px;
    line-height: 28.8px;
    margin: 10px 0;
  }

  .subtitle {
    font-size: 16px;
    line-height: 25px;
  }

  .footer__img {
    margin-top: -125px;
  }
}

@media (max-width: 991px) {
  .large-title {
    font-size: 35px;
    line-height: 39px;
    max-width: 380px;
  }

  .medium-title {
    font-size: 35px;
    line-height: 39px;
    max-width: 330px;
    margin: 20px 0 0;
  }

  .img-auxiliary {
    width: 140px;
  }

  .small-box {
    padding: 30px 20px;
  }

  .main-container-for-columns {
    flex-direction: column;
    justify-content: center;
    row-gap: 16px;
    overflow: hidden;
  }

  .column-with-image {
    width: calc(100% - 32px);
    height: 582px;
    border: none;
  }

  .column-with-text {
    width: calc(100% - 32px);
    height: 689px;
  }

  .large-text {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 22px;
    max-width: 386px;
  }

  .large-text:first-child {
    max-width: 392px;
  }

  .card__item {
    width: 220px;
    height: 332px;
  }

  .small-title {
    font-size: 18px;
    line-height: 21.6px;
    margin: 7px 0;
  }

  .subtitle {
    font-size: 14px;
    line-height: 19.5px;
  }

  .footer__img {
    margin-top: -93px;
  }
}

@media (min-width: 768px) {
  .mt1 {
    margin-top: -1px;
  }
}

@media (max-width: 767px) {
  .large-title {
    font-size: 27px;
    line-height: 30px;
    max-width: 298px;
  }

  .medium-title {
    font-size: 27px;
    line-height: 30px;
    max-width: 260px;
  }

  .column-with-image {
    height: 442px;
  }

  .column-with-text {
    height: 508px;
  }

  .large-text {
    font-size: 12px;
    line-height: 18px;
    margin: 0 0 16px;
    max-width: 295px;
  }

  .large-text:first-child {
    max-width: 300px;
  }


  .img-auxiliary {
    width: 100px;
  }

  .small-box {
    padding: 20px 10px;
  }

  .ml1 {
    margin-left: -1px;
  }

  .footer__img {
    margin-top: -70px;
  }
}

@media (max-width: 580px) {
  .medium-title_place_story {
    margin-bottom: 20px;
  }

  .column-with-image {
    height: auto;
  }

  .column-with-text {
    width: 318px;
    height: 320px;
  }

  .large-text {
    font-size: 8px;
    line-height: 10px;
    margin: 0 0 7px;
    max-width: 205px;
  }

  .large-text:first-child {
    max-width: 210px;
  }

  .footer__img {
    margin-top: -12vw;
  }
}

@media (max-width: 519px) {
  .large-title {
    font-size: 20px;
    line-height: 22.5px;
    max-width: 200px;
  }

  .img-auxiliary {
    width: 70px;
  }

  .small-box {
    padding: 10px;
  }
}

@media (max-width: 375px) {
  .large-title {
    max-width: 158px;
  }

  .card__item {
    width: 300px;
    height: 453px;
  }
}
